*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.titulo{
    
    float: inline-end;
}
.carrusel{
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.carrusel ul{
    display: flex;
    padding: 0;
    width: 300%;
    height: 100%;
    animation: slide 20s infinite alternate;
}
.carrusel li{
    list-style: none;
    width: 100%;
}
.carrusel img{
    width: 100%;

}
@keyframes slide {
    0% {margin-left: 0;}
    30% {margin-left: 0;}

    33.33% {margin-left: -100%}
    63.33% {margin-left: -100%}

    66.66%  {margin-left: -200%;}
    100% {margin-left: -200%;}
}
.contenedor-head{
    display: inline-block
}
.texto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(
        -50%, -50%
    );
    color: white;
    text-align: center;
    font-size: 180%;
}
#menu-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #ffffff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px black;
    z-index: 10;

}
.navigation{
    position: fixed;
    top: -2px;
    right: -2px;
    bottom: 0px;
    width: 30vh;
    height: 100%;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(0,-110%);
    box-shadow: 0 0 6px black;
    border-radius: 8px;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.spread{
    transform: translate(0);
}

.contenedor-experiencia{
    display: flex;
    justify-content: space-between;
}
.subtitulo{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
    Color: #3e0fac;
    
}
.title{
    padding: 15px;
    margin: 15px;
    text-align: center;
    font-weight: 700;
    color: #b490ca;
    
}
.number{
    display: inline-block;
    background-image: linear-gradient(to top, #5ee7df 0%, #713596 100%);
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    border-radius: 35%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
}
.specs{
    margin-left: 20px;
}
.fact{
    font-weight: 700;
    margin-left: -12.5px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

#clic{
    color: #b490ca;
    text-decoration: none;
    font-weight: bold;
}
#acerca-mi{
    background-color: #d5e1eeb6;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 40px 10px;
}
.img-experience{
    border-radius: 10px;
    display: block;
    margin: auto;
    box-shadow: 0 0 6px black;
    
    
}
.contenedor-acerca-mi{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.img-geb{
    border-radius: 10px;
    box-shadow: 0 0 6px black;
}
.proyectos{
    box-shadow: 0 0 10px black;
    border-radius: 12px;
}
